<div class="login">
  <div class="register-content">
    <h1>My phone book</h1>
    <div class="register-form">
      <div class="form-group">
        <input id="register-login" type="text" placeholder="Login" [(ngModel)]="registerRequest.login"
               #login="ngModel" required pattern="^[a-zA-Z](.[a-zA-Z0-9_-]*)$" value="user">
        <div [hidden]="(!login.untouched && login.valid) || login.untouched" class="alert alert-danger">
          Login is not validated
        </div>
      </div>
      <div class="form-group">
        <input id="register-password" type="password" placeholder="Password" [(ngModel)]="registerRequest.password"
               #password="ngModel" required pattern="^(?=.*\d)(?=.*[A-Z]).{4,}$" value="1Qaz">
        <div [hidden]="(!password.untouched && password.valid) || password.untouched" class="alert alert-danger">
          Password is not validated
        </div>
      </div>
      <div class="form-group">
        <input id="register-born-date" type="text" placeholder="Date of Birth (YY-MM-DD)" [(ngModel)]="registerRequest.bornDate"
               #bornDate="ngModel" required pattern="^\d\d\d\d-\d\d-\d\d$" value="2000-01-01">
        <div [hidden]="(!bornDate.untouched && bornDate.valid) || bornDate.untouched" class="alert alert-danger">
          Born date is not validated
        </div>
      </div>
      <button class="btn-register" [disabled]="login.invalid || password.invalid || bornDate.invalid"
              (click)="register()">Register</button>
    </div>
  </div>
</div>
